'.text.html.tw5':
  # `macrodef`
  'Macro Definition':
    'prefix': 'def'
    'body': """
    \\\\define ${1:name}($2)
    $3
    \\\\end

    """

  # `rules`
  'Rules':
    'prefix': 'rules'
    'body': """
    \\\\rules ${1:only} ${2:rules}$0

    """
  'Rules Plain Text':
    # Why not?
    'prefix': 'rulesoff'
    'body': """
    \\\\rules only rules
    \\\\rules except rules

    """

  # `codeblock`
  'Code':
    'prefix': 'code'
    'body': """
    ```${1:js}
    $2
    ```
    """

  # `typedblock`
  'Typed Block':
    'prefix': 'tb'
    'body': """
    $$$${1:text/vnd.tiddlywiki}
    $2
    $$$
    """
  'Typed Block With Render Type':
    'prefix': 'tbt'
    'body': """
    $$$${1:text/vnd.tiddlywiki} > ${2:text/html}
    $3
    $$$
    """

  # `styleblock`
  'Style':
    'prefix': 'style'
    'body': """
    @@${1:.class1.class2}
    @@${2:text-transform:uppercase;}
    $3
    @@
    """

  # `quoteblock`
  'Blockquote':
    'prefix': 'qb'
    'body': """
    <<<
    $1
    <<<
    """
  'Blockquote With Bottom Cite':
    'prefix': 'qbbc'
    'body': """
    <<<
    $1
    <<< ${2:cite}
    """

  # `filteredtranscludeblock`
  # `filteredtranscludeinline`
  'Filtered Transclusion':
    'prefix': 'ftr'
    'body': '{{{${1:[is[current]]}}}}$0'
  'Filtered Transclusion With Template':
    'prefix': 'ftrt'
    'body': '{{{${1:[is[current]]}||${2:template}}}}$0'

  # `transcludeblock`
  # `transcludeinline`
  'Transclusion':
    'prefix': 'tr'
    'body': '{{${1:tiddler}}}$0'
  'Transclusion Of Field':
    'prefix': 'tf'
    'body': '{{${1:}!!${2:title}}}$0'
  'Transclusion Of Data Index':
    'prefix': 'ti'
    'body': '{{${1:}##${2:index}}}$0'
  'Transclusion With Template':
    'prefix': 'trt'
    'body': '{{${1:tiddler}||${2:template}}$0'
  'Transclusion Of Field With Template':
    'prefix': 'tft'
    'body': '{{${1:}!!${2:title}||${3:template}}$0'
  'Transclusion Of Data Index With Template':
    'prefix': 'tit'
    'body': '{{${1:}##${2:index}||${3:template}}$0'

  # `table`
  # @NOTE:
  # Maintain a left-to-right, top-to-bottom order for consistency.
  'Table':
    'prefix': 'table'
    'body': """
    |${1:Data One}   |${2:Data Two}  |
    |${3:Data Three} |${4:Data Four} |
    """
  'Table With Row Headers':
    'prefix': 'tabler'
    'body': """
    |${1:Header One} |${2:Header Two} |h
    |${3:Data One}   |${4:Data Two}   |
    """
  'Table With Column Headers':
    'prefix': 'tablec'
    'body': """
    |!${1:Header One} |${2:Data One} |
    |!${3:Header Two} |${4:Data Two} |
    """
  'Table With Row And Column Headers':
    'prefix': 'tablerc'
    'body': """
    |                 |${1:Header One} |h
    |!${2:Header One} |${3:Data One}   |
    |!${4:Header Two} |${5:Data Two}   |
    """

  # `list`
  'Quote':
    'prefix': 'q'
    'body': '> '
  'Ordered List':
    'prefix': 'ol'
    'body': '# ${1:item 1}'
  'Unordered List':
    'prefix': 'ul'
    'body': '* ${1:item}'
  'Description List':
    'prefix': 'dl'
    'body': """
    ; ${1:term}
      : ${2:description}
    """

  # `heading`
  'Heading 1':
    'prefix': 'h1'
    'body': '!$0 ${1:Heading 1}'
  'Heading 2':
    'prefix': 'h2'
    'body': '<h2>$1</h2>$0'
  'Heading 3':
    'prefix': 'h3'
    'body': '<h3>$1</h3>$0'
  'Heading 4':
    'prefix': 'h4'
    'body': '<h4>$1</h4>$0'
  'Heading 5':
    'prefix': 'h5'
    'body': '<h5>$1</h5>$0'
  'Heading 6':
    'prefix': 'h6'
    'body': '<h6>$1</h6>$0'

  # `horizrule`
  'Horizontal Rule':
    'prefix': 'hr'
    'body': """
    ---

    """

  # `emphasis`
  'Bold':
    'prefix': 'b'
    'body': '\'\'$1\'\'$0'
  'Italic':
    'prefix': 'i'
    'body': '//$1//$0'
  'Underscore':
    'prefix': 'u'
    'body': '__$1__$0'
  'Superscript':
    'prefix': 'sup'
    'body': '^^$1^^$0'
  'Subscript':
    'prefix': 'sub'
    'body': ',,$1,,$0'
  'Strikethrough':
    'prefix': 's'
    'body': '~~$1~~$0'

  # `codeinline`
  'Code Inline':
    'prefix': ''

  # `hardlinebreaks`
  'Preformatted Text':
    'prefix': 'pre'
    'body': """
      \"\"\"
      $0
      \"\"\"
    """

  # `image`
  'Image':
    'prefix': 'img'
    'body': '[img[${1:URL}]]$0'
  'Image With Tooltip':
    'prefix': 'imgt'
    'body': '[img[${1:Tooltip}|${2:URL}]]$0'

  # `link`
  'Link':
    'prefix': 'l'
    'body': '[[${2:URL}]]$0'
  'Link With Title':
    'prefix': 'lt'
    'body': '[[${1:Title}|${2:URL}]]$0'

  # `commentblock`
  # `commentinline`
  'Comment':
    'prefix': '--'
    'body': '<!-- $1 -->$0'

  # `macrocallblock`
  # `macrocallinline`
  'Macro Call':
    'prefix': 'call'
    'body': '<<${1:variable}>>$0'

# `macrocall`
  'Widget Macrocall':
    'description': 'Provides more flexible way for invoking macros.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#Macrocall'
    'prefix': 'macrocall'
    'body': '<$macrocall $name="${1:variable}" ${2:param1}=${3:<<currentTiddler>>} />$0'

# `vars`
  'Widget Vars':
    'description': 'Allows multiple variables to be set in one operation.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#VarsWidget'
    'prefix': 'vars'
    'body': """
    <$vars ${1:name}=${2:<<currentTiddler>>}>
      $3
    </$vars>$0
    """

# `list`
  'Widget List':
    'description': 'Displays a sequence of tiddlers that match a filter expression.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ListWidget'
    'prefix': 'list'
    'body': """
    <$list filter="${1:[is[current]]}">
      ${2:<<currentTiddler>>}
    </$list>$0
    """
  'Widget List With Custom Variable':
    'prefix': 'listv'
    'body': """
    <$list filter="${1:[is[current]]}" variable="${2:item}">
      ${3:<<item>>}
    </$list>$0
    """
# `count`
  'Widget Count':
    'description': 'Displays the number of matches to a filter expression.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#CountWidget'
    'prefix': 'count'
    'body': '<$count filter="${1:[is[current]]}" />$0'

# `view`
  'Widget View':
    'description': 'Displays the contents of a tiddler field or index in a specified format.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ViewWidget'
    'prefix': 'view'
    'body': '<$view ${1:tiddler=${2:<<currentTiddler>>} }field="${3:modified}" format="${4:date}" template="${5:YYYY.0MM.0DD}" />$0'

# `reveal`
  'Widget Reveal':
    'description': 'Hides or shows its content depending upon the value of a state tiddler.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#RevealWidget'
    'prefix': 'reveal'
    'body': """
    <$reveal type="${1:match}" state=${2:"$:/state/${3:state}"}text="$4">
      $5
    </$reveal>$0
    """
  'Widget Reveal With Popup':
    'prefix': 'revealp'
    'body': """
    <$reveal type="popup" popup=${1:"$:/state/${2:state}"}>
      $3
    </$reveal>$0
    """
# `scrollable`
  'Widget Scrollable':
    'description': 'Wraps content in a scrollable frame.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ScrollableWidget'
    'prefix': 'scrollable'
    'body': """
    <$scrollable class="${1:tc-scrollable-demo}">
      $2
    </$scrollable>$0
    """

# `edit-text`
  'Widget EditText':
    'description': 'Provides a user interface in the browser for editing text tiddler fields and indices.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#EditTextWidget'
    'prefix': 'edit-text'
    'body': '<$edit-text ${1:tiddler=${2:<<currentTiddler>>} }field="${3:text}" />$0'
# `select`
  'Widget Select':
    'description': 'Displays a popup menu based on a HTML `select` element.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#SelectWidget'
    'prefix': 'select'
    'body': """
    <$select ${1:tiddler=${2:<<currentTiddler>>} }field="${3:text}">
      <option${4: value="${5:option}"}>${6:option}</option>
    </$select>$0
    """
# `checkbox`
  'Widget Checkbox':
    'description': 'Displays an HTML checkbox input bound to a specified tiddler tag, field or index.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#CheckboxWidget'
    'prefix': 'checkbox'
    'body': """
    <$checkbox ${1:tiddler=${2:<<currentTiddler>>} }field="${3:text}" checked="${4:true}" unchecked="${5:false}">
      ${6:Label}
    </$checkbox>$0
    """
  'Widget Checkbox Bound To Tag':
    'prefix': 'checkboxt'
    'body': """
    <$checkbox ${1:tiddler=${2:<<currentTiddler>>} }tag="$3">
      ${4:Label}
    </$checkbox>$0
    """
# `radio`
  'Widget Radio':
    'description': 'Displays an HTML radio input bound to a specified tiddler field.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#RadioWidget'
    'prefix': 'radio'
    'body': """
    <$radio ${1:tiddler=${2:<<currentTiddler>>} }field="${3:text}" value="${4:option}">
      ${5:Label}
    </$radio>$0'
    """
# `button`
  'Widget Button':
    'description': 'Displays an HTML element that can perform a combination of optional actions when clicked.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ButtonWidget'
    'prefix': 'button'
    'body': """
    <$button>
      ${1:Label}
    </$button>$0
    """
  'Widget Button Set Value':
    'prefix': 'buttont'
    'body': """
    <$button set="$1!!${2:title}" setTo=${2:{{$3!!${4:title}\\}\\}}>
      ${5:Label}
    </$button>$0
    """
  'Widget Button Send Message':
    'prefix': 'buttonm'
    'body': """
    <$button message="${1:tm-notify}" param=${2:<<currentTiddler>>}>
      ${3:Label}
    </$button>$0
    """
  'Widget Button Navigate To':
    'prefix': 'buttonn'
    'body': """
    <$button to="{1:<<currentTiddler>>}>
      ${2:Label}
    </$button>$0
    """
  'Widget Button With Popup':
    'prefix': 'buttonp'
    'body': """
    <$button popup=${1:"$:/state/${2:state}"}>
      ${3:Label}
    </$button>$0
    """

"""
.meta.widget.tw-button.tw5 > .meta.body.tw5,
.meta.widget.tw-keyboard.tw5 > .meta.body.tw5
""":
# `action-deletefield`
  'Widget ActionDeleteField':
    'description': 'Deletes specified fields of a tiddler.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionDeleteFieldWidget'
    'prefix': 'action-deletefield'
    'body': '<$action-deletefield ${1:$tiddler=${2:<<currentTiddler>>} }${3:$field=${4:<<name>>} }${5:field1 field2 field3} />$0'
# `action-deletetiddler`
  'Widget ActionDeleteTiddler':
    'description': 'Deletes tiddlers matching filter without confirmation.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionDeleteTiddlerWidget'
    'prefix': 'action-deletetiddler'
    'body': '<$action-deletetiddler ${1:$tiddler=${2:<<currentTiddler>>} }${3:$filter="[is[current]]" } />$0'
# `action-listops`
  'Widget ActionListops':
    'description': 'Manipulates user lists in any field or index.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionListopsWidget'
    'prefix': 'action-listops'
    'body': '<$action-listops${1: $tiddler=${2:<<currentTiddler>>}} $field="${3:list}"${4: $filter="${5:[is[current]]}"}${6: $subfilter="${7:-[is[current]]}"} />$0'
# `action-navigate`
  'Widget ActionNavigate':
    'description': 'Sends a `tm-navigate` message back up the widget tree.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionNavigateWidget'
    'prefix': 'action-navigate'
    'body': '<$action-navigate $to=${1:<<currentTiddler>>}${2: $scroll="${3:no}"} />$0'
# `action-sendmessage`
  'Widget ActionSendMessage':
    'description': 'Sends a specified message back up the widget tree.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionSendMessageWidget'
    'prefix': 'action-sendmessage'
    'body': '<$action-sendmessage $message="${1:tm-new-tiddler}"${2: title=<<currentTiddler>> tags="[[tag]]"} />$0'
# `action-setfield`
  'Widget ActionSetField':
    'description': 'Assigns values to the specified fields of a tiddler.'
    'descriptionMoreURL': 'http://tiddlywiki.com/#ActionSetFieldWidget'
    'prefix': 'action-setfield'
    'body': '<$action-setfield${1: $tiddler=${2:<<currentTiddler>>}}${3: tags="[[tag]]"} />$0'

'.macro.body.tw5':
  'Variable Parameter':
    'prefix': 'vp'
    'body': '$${1:parameter}$$0'
  'Variable Reference':
    'prefix': 'vr'
    'body': '$(${1:currentTiddler})$$0'
